li {
    margin-bottom: 15px;
    font-size: larger;
}

h1 {
    color: darkmagenta;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}

.removeBttn {
    margin-left: 2%;
    color: white;
    background-color: black;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

p {
    text-align: center;
    text-decoration: underline;
}